################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Programacion-Web-II/v17
/WebApi/obj
/.vs/ProgramacionWebII-Actividad-Complementaria-CSharp/FileContentIndex
/.vs/ProgramacionWebII-Actividad-Complementaria-CSharp/v17
/.vs/Programacion-Web-II/FileContentIndex
/.vs
/ProgramacionWebII-Actividad-Complementaria-CSharp/obj/Debug/netstandard2.1/ProgramacionWebII-Actividad-Complementaria-CSharp.AssemblyInfo.cs
/ProgramacionWebII-Actividad-Complementaria-CSharp/obj/Debug/netstandard2.1/ProgramacionWebII-Actividad-Complementaria-CSharp.AssemblyInfoInputs.cache
/ProgramacionWebII-Actividad-Complementaria-CSharp/obj/Debug/netstandard2.1/ProgramacionWebII-Actividad-Complementaria-CSharp.assets.cache
/ProgramacionWebII-Actividad-Complementaria-CSharp/obj/Debug/netstandard2.1/ProgramacionWebII-Actividad-Complementaria-CSharp.csproj.AssemblyReference.cache
/ProgramacionWebII-Actividad-Complementaria-CSharp/obj/Debug/netstandard2.1/ProgramacionWebII-Actividad-Complementaria-CSharp.GeneratedMSBuildEditorConfig.editorconfig
/ProgramacionWebII-Actividad-Complementaria-CSharp/obj/Release/netstandard2.1
